.wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.card-parent{
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 500px;

}
.sticker{
    width: 45%;
    height: 150px;
    background-color: rgba(255,255,255,0.2);
    margin-bottom: 12px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 1.5em;
    max-width: 200px;

}
.sticker:hover{
    cursor: pointer;
}
.title{
    font-size: 1.2em;
    margin-bottom: 10px;
}
