<div *ngFor="let name of names">
    {{name}}
    <div class="card-parent">
        <div class="sticker" routerLink="/unit/{{cabinetList[name]['id']}}/WT">
            <div>Water Temp</div>
            <div>{{cabinetList[name]['data']['WT']}}</div>
        </div>
        <div class="sticker" routerLink="/unit/{{cabinetList[name]['id']}}/IAT">
            <div>Air Temp</div>
            <div>{{cabinetList[name]['data']['IAT']}}</div>
        </div>
    </div>
    <div class="card-parent">
        <div class="sticker" routerLink="/unit/{{cabinetList[name]['id']}}/pH">
            <div>pH Level</div>
            <div>{{cabinetList[name]['data']['pH']}}</div>
        </div>
        <div class="sticker" routerLink="/unit/{{cabinetList[name]['id']}}/IAH">
            <div>Air Humidity</div>
            <div>{{cabinetList[name]['data']['IAH']}}</div>
        </div>
    </div>
</div>
